html,
body {
  height: 96%;
  margin: 0;
}

.jumbotron {
  padding-top: 2.5em;
  padding-bottom: 1em;
}

.headings {
  font-size: 2.5em;
  text-align: center;
}

.card {
  padding: 0.2em;
  margin-left: 0.2em;
  margin-right: 0.2em;
  display: flex;
  justify-content: center;
}

.card-group {
  padding-left: 1em;
  padding-right: 1em;
}

.learn:hover {
  transform: scale(1.1);
}

.button-color {
  background-color: #3d99d6;
  margin-bottom: 0.25em;
}

.button-color:hover {
  background-color: #3689c0;
}

.footer {
  color: white;
}

.full-height {
  height: 96%;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

#test2 {
  padding-left: 1.2em;
}

#about {
  text-align: center;
}

#name {
  font-size: 3.9em;
  animation-name: colors;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
}

#subname {
  font-size: 2.4em;
  animation-name: colors;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
}

@keyframes colors {
  0% {
    color: blue;
  }
  34% {
    color: #0000b2;
  }
  67% {
    color: #000066;
  }
  100% {
    color: black;
  }
}

#code {
  font-size: 1.1em;
}

#second-row {
  display: flex;
  justify-content: center;
}

#form-button {
  border-radius: 5%;
}

#form-button:hover {
  background-color: black;
  color: white;
}

/*Everything below is for a sticky navbar*/

/* Page content */
.content {
  padding: 16px;
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
  padding-top: 60px;
}

/* reset */
form input,
form select,
form textarea,
form fieldset,
form optgroup,
form label,
.StripeElement {
  font-family: inherit;
  font-size: 100%;
  color: inherit;
  border: none;
  border-radius: 0;
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
}
form label,
form legend {
  font-size: 0.825rem;
  margin-bottom: 0.5rem;
}
/* border, padding, margin, width */
form input,
form select,
form textarea,
.StripeElement {
  box-sizing: border-box;
  border: 1px solid rgba(0, 0, 0, 0.2);
  background-color: rgba(255, 255, 255, 0.9);
  padding: 0.5em 1rem;
  margin-bottom: 0.5rem;
}
form input:focus,
form select:focus,
form textarea:focus,
.StripeElement:focus {
  background-color: white;
  outline-style: solid;
  outline-width: thin;
  outline-color: gray;
  outline-offset: -1px;
}
form [type="text"],
form [type="email"],
.StripeElement {
  width: 100%;
}
form [type="button"],
form [type="submit"],
form [type="reset"] {
  width: auto;
  cursor: pointer;
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
}
form [type="button"]:focus,
form [type="submit"]:focus,
form [type="reset"]:focus {
  outline: none;
}

form select {
  text-transform: none;
}
